.Bag-Obligaciones {
	background-color: darkcyan;
	color: white;
	font-weight: 800;
	padding: 2%;
	border-radius: 15px;
}

a:hover, a:active, a:focus {
	outline: none;
	text-decoration: none;
	color: white;
}
.over {
	cursor: pointer;
}

.air_p {

	margin-top:5%;

}


