
<div class="modal" id="ModalEditarFactura" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="id_Factura_ed" value="" />
    <input type="hidden" id="id_Usuario_ed" value="" />
    <div class="modal-dialog" role="document" style="WIDTH: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title"><span id="title"></span></h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Contrato Id:</label>
                            <input type="text" id="txted_Contratoid" class="form-control txted_Contratoid Clean" />
                        </div>
                        <div class="col-lg-4">
                            <label>Factura Id:</label>
                            <input type="text" id="txted_Facturaid" class="form-control txted_Facturaid Clean" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <label>Lugar de Expedición:</label>
                        <input type="text" id="txted_Lugar_Expedicion" class="form-control txted_Lugar_Expedicion Clean" />
                    </div>
                    <div class="col-lg-4">
                        <label>Fecha de Emisión:</label>
                        <input type="text" id="txted_Fecha_Emision" class="form-control txted_Fecha_Emision Clean" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Receptor:</label>
                        <input type="text" id="txted_Receptor" class="form-control txted_Receptor Clean" />
                    </div>
                    <div class="col-lg-4">
                        <label>RFC Receptor:</label>
                        <input type="text" id="txted_RFC_Receptor" class="form-control txted_RFC_Receptor Clean" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Domicilio Fiscal del Receptor:</label>
                        <input type="text" id="txtedCalle" class="form-control txtedCalle Clean" />
                    </div>
                    <div class="col-lg-1">
                        <label>No. Ext.</label>
                        <input type="text" id="txtedNuExterior" class="form-control txtedNuExterior Clean" />
                    </div>
                    <div class="col-lg-1">
                        <label>No. Int.</label>
                        <input type="text" id="txtedNuInterior" class="form-control txtedNuInterior Clean" />
                    </div>
                    <div class="col-lg-1">
                        <label>C. P.</label>
                        <input type="text" id="txtedCP" class="form-control txtedCP Clean">
                    </div>
                    <div class="col-lg-3">
                        <label>Colonia</label>
                        <input type="text" id="txtedColonia" class="form-control txtedColonia Clean" />
                    </div>
                    <div class="col-lg-3">
                        <label>Municipio</label>
                        <input type="text" id="txtedMunicipio" class="form-control txtedMunicipio Clean" />
                    </div>
                    <div class="col-lg-2">
                        <label>Estado</label>
                        <input type="text" id="txtedEstado" class="form-control txtedEstado Clean" />
                    </div>
                    <div class="col-lg-2">
                        <label>País</label>
                        <input type="text" id="txtedPais" class="form-control txtedPais Clean" />
                    </div>
@*                     <div class="col-lg-6">
                        <label>Regimen de Receptor:</label>
                        <input type="text" id="txtedRegimen_Receptor" class="form-control txtedRegimen_Receptor Clean" />
                    </div> *@
                    <div class="col-lg-4">
                        <label>Forma de Pago:</label>
                        <input type="text" id="txted_Forma_Pago" class="form-control txted_Forma_Pago Clean" />
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-14">
                        <label>Cadena XML:</label>
                        <input type="text" id="txted_CadenaXML" class="form-control txted_CadenaXML Clean" />
                    </div>
                </div>

                <br />
            </div>



            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-primary" id="EditarFactura">Editar Factura</button>
                    <button type="button" class="btn btn-primary" id="MostrarXML">Mostrar XML</button>
                    <button type="button" id="Close" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>