@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor;

@{
    //if (@httpContextAccessor.HttpContext.Session.GetString("Contrato") != "")
    //{
    //    Layout = "~/Views/MasterPages/Master.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/MasterPages/Master_SinContrato.cshtml";
    //}
    Layout = "~/Views/MasterPages/Master_SinContrato.cshtml";
    Dictionary<String, String> ruta = new Dictionary<String, String>();
    ruta.Add(@"\Home\Index", "Inicio");
    ruta.Add(@"\Contrato\Index", "Lista de contratos");
    ruta.Add("-", "Notificación de sanciones.");

}

@section ViewScripts{
    <script src="~/Resources/NotificacionSanciones/Jquery.NotificacionSanciones.js"></script>
}
<style>

    .VisCont {
        color: black;
        font-size: 60%;
        border: 0px solid #ccc;
        height: 2%;
        border-radius: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: white !important;
    }

    .VisContLbl {
        font-size: 80%;
        color: lightslategray;
    }

    .bb {
        background-color: #D2D6DE;
        border-radius: 31px;
    }

    .b {
        border-radius: 31px;
    }
</style>
<input type="hidden" id="idcontratoNS" value="" />
@*<input type="hidden" id="idDepNS" value="@httpContextAccessor.HttpContext.Session.GetString("IdDependencia")" />*@

@await Html.PartialAsync("~/Views/MasterPages/Breadcrumb.cshtml", ruta)
<section class="content">
    @*<div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <label>Contratos:</label>
                    <select name="Contratos" id="ContratosNS" class="form-control"></select>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
        <br />*@
    <div class="box box-default b">
        <div class="box-body bb">

            <div id="Div_VistaContrato" class="col-xs-12">

                <div class="row">
                    <div class="col-lg-3 text-center">
                        <label class="VisContLbl">Número de contrato</label>
                        <select name="Contratos" id="ContratosNS" style=" color:red; font-weight:900;text-align:center;" class="form-control VisCont"></select>
                    </div>
                    <div class="col-lg-3 text-center">
                        <label class="VisContLbl">Nombre de contrato</label>
                        <input type="text" disabled id="txt_nomcont1" class="form-control VisCont Clean" />
                    </div>
                    <div class="col-lg-6 text-center">
                        <label class="VisContLbl">Objeto de contrato</label>
                        <input type="text" disabled id="txt_objcon1" class="form-control VisCont Clean" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 text-center">
                        <label class="VisContLbl">Monto máximo</label>
                        <input type="text" disabled id="txt_monmax1" class="form-control VisCont Clean" />
                    </div>
                    <div class="col-lg-3 text-center">
                        <label class="VisContLbl">Monto minimo</label>
                        <input type="text" disabled id="txt_monmin1" class="form-control VisCont Clean" />
                    </div>
                    <div class="col-lg-3 text-center">
                        <label class="VisContLbl">Fecha inicio</label>
                        <input type="text" disabled id="txt_finicio1" class="form-control txt_finicio  VisCont Clean" />
                    </div>
                    <div class="col-lg-3 text-center">
                        <label class="VisContLbl">Fecha fin</label>
                        <input type="text" disabled id="txt_ffin1" class="form-control txt_ffin  VisCont Clean" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" id="listado_hid">
        <div class="box-header with-border">
            <h3 class="box-title">Notificación de sanciones</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-4">
                    <label>Periodo de búsqueda</label>
                    <div class="col-lg-10">
                        <div class='input-group date' id='datetimepicker10'>
                            <input type='text' id='datetimepicker11' class="form-control" placeholder="Indique la fecha (MM/YYYY)" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary" id="Buscar">Listar</button>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <table id="NotificacionSanciones" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Tipo de sanción</th>
                                <th>Área responsable</th>
                                <th>Responsable</th>
                                <th>Obligación incumplida</th>
                                <th>Cláusula</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("ListaPE")
@await Html.PartialAsync("ListaPM")


