<div id="ReporteProductos" class="modal" role="dialog">
    <div class="modal-dialog" style=" padding-top: 5%; background-color: transparent; width: 1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="title-productos">Lista de productos de la ubicación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" align="center">
                        <table id="tbl_productos_reporte" class="display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre producto</th>
                                    <th>Clave</th>
                                    <th>Cantidad</th>
                                    <th>Obligaciones</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>

