
    <div class="modal" id="ModalEditarProyecto" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <input type="hidden" id="id_proyecto_edit" value="" />
        <div class="modal-dialog" role="document" style="WIDTH: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title"><span id="title"></span></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Nombre del proyecto</label>
                            <input type="text" id="Nom_Proy_ed" maxlength="150" class="form-control Clean" placeholder="Nombre del proyecto" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Objetivo</label>
                            <textarea id="Objetivo_ed" rows="2" class="form-control Clean" style=" resize: none" placeholder="Objetivo"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Alcance</label>
                            <textarea id="Alcance_ed" rows="2" class="form-control Clean" style=" resize: none" placeholder="Alcance"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Criticidad</label>
                            <select name="Criticidad_ed" id="Criticidad_ed" class="form-control Clean"></select>
                        </div>
                        <div class="col-lg-6">
                            <label>Tipo de ejecución</label>
                            <select name="tipo_ejecucion_ed" id="tipo_ejecucion_ed" class="form-control Clean"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Tipo de Proyecto</label>
                            <select name="tipo_proyecto_ed" id="tipo_proyecto_ed" class="form-control Clean"></select>
                        </div>
                        <div class="col-lg-6">
                            <label>Estatus</label>
                            <select name="Estatus_ed" id="Estatus_ed" class="form-control Clean"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Fecha inicio</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' id="fecha_inicio_ed" class="form-control Clean" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Fecha fin</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' id="fecha_fin_ed" class="form-control Clean" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <div align="center">
                        <button type="button" class="btn btn-primary" id="EditarProyecto">Editar</button>
                        <button type="button" id="Close" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>