
<div id="ModalAddPuntoAverificar" class="modal" role="dialog">
    <div class="modal-dialog" style=" padding-top: 5%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close Clear" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="Tit">Agregar un punto para verificar</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <label>Punto a verificar:</label>
                            <textarea id="txtPuntoAver" rows="2" class="form-control text" style=" resize: none" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button class="btn btn-primary" id="AddPuntoAVerificar">Guardar</button>
                    <button class="btn btn-danger Clear" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>

        </div>

    </div>
</div>