
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
   
   Layout = "~/Views/MasterPages/Master_SinContrato.cshtml";
    

    <!--breadcrumb Dictionary-->
    Dictionary<String, String> ruta = new Dictionary<String, String>();
    ruta.Add(@"\Home\Index", "Inicio");
    ruta.Add(@"\Contrato\Index", "Lista de contratos");
    ruta.Add("-", "Reg. lista de verificación");
    //Guid idcon = new Guid(Session["Contrato"].ToString());


}
@section ViewScripts{
    <script src="~/Resources/ListadoVerificacion/Jquery.ListadoVerificacion.js"></script>
}
<style>
    .ListadoVerificacionPreguntas {
        width: auto;
    }
</style>
<!--breadcrumb Partial View-->

@await Html.PartialAsync("~/Views/MasterPages/Breadcrumb.cshtml", ruta)

@*<input type="hidden" id="IdDependenciaLV" name="IdDependenciaLV" value="4f98da22-3639-11ea-82d7-00155d1b3502" />*@

<input type="hidden" id="dependenciaVerificacion" name="dependenciaVerificacion" />
<section class="content">

    <div class="row">
        <div class="col-lg-4">
            <label>Selecciona la dependencia</label>
            <select id="dependencias_usuario">
            </select>
        </div>
    </div>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Registro de puntos de verificación de un contrato</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="AddPregunta" data-toggle="tooltip"
                        title="Agregar un nuevo registro">
                    Agregar un nuevo registro
                    <i class="fa fa-fw fa-plus-circle"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="ListadoPreguntas" class="display ListadoPreguntas">
                                <thead>
                                    <tr>
                                        @*<th>No.</th>*@
                                        <th style="width:40%">Puntos de verificación</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("AddPuntoVerificacion");
@await Html.PartialAsync("ModificarPtsEval");