
@{
    Layout = null;
}

<table id="ObligacionesTbl" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Cláusula</th>
            <th>Tipo obligación</th>
            <th>Responsables</th>
            <th>Sanción</th>
            <th>Periodo</th>
            <th>Prioridad</th>

            <th>Comentarios</th>
            <th>Asignar riesgos</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
