<div class="col-lg-12">
    <table id="tbl_Proposiciones" align="center" class="display" style="width:100%">
        <thead>
            <tr>
                <th>RFC</th>
                @*<th>Estatus</th>*@
                <th>Analisis</th>
                <th>Justificacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>
