
@{
    ViewBag.Title = "ModalAsignacionResponsables_Sol";
    //List<PMS.Entrega.Datos.ContextoSac.TBLENT_C_ESTADO> Lest;
    //Lest = PMS.Entrega.Negocio.DropDownList_Programacion.FillEstado();
}


<input type="hidden" value="" id="HD_Objeto" />
<input type="hidden" value="" id="HD_Dep_Id" />
<div class="modal" id="ModalPresupuestos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="WIDTH: 80%; padding-top: 1%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Asignación de presupuestos</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="list-group" id="identifier_areas" role="tablist"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="list-group" id="identifier_CAP_GASTO" role="tablist"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="list-group" id="identifier_Montos_Acciones" role="tablist">

                            <a class='list-monto list-group-item active' id='panel-list-press'>
                                <div class="row">
                                    <div class="col-lg-4 text-center">
                                        <label> Cod. Capítulo: <p id="p_capitulo"></p> </label>
                                    </div>
                                    <div class="col-lg-8  text-center">
                                        <label> Capítulo: <p id="p_capitulo_des"></p> </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label> Monto disponible: <p style="border-style: dashed;border-color: #00A65A;border-width: 7px; text-align:center;" id="p_monto"></p> </label>

                                    </div>
                                    <div class="col-lg-6">
                                        <label>$ Monto por ejercer</label>
                                        <input type="number" id="monto_por_ejercer" class="form-control" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Número de partida</label>
                                        <input type="number" id="txt_numero_ejercer" class="form-control" />
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Descripción</label>
                                        <input type="text" id="txt_numero_descripcion" class="form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <br />
                                        <button onclick="fillBag()" type="button" class="btn btn-success"><i class="fa fa-fw fa-plus-circle"></i></button>
                                    </div>
                                    <div class="col-lg-6 text-center">

                                        Monto total a ejercer:
                                        <br />
                                        <label>$</label>
                                        <label id="mtae"></label>
                                    </div>
                                </div>

                            </a>

                            <div id="input_bags">


                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="GuardarPS">Agregar a solicitud</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modaldetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modaldetails_body">
                <div class="row">
                    <div class="col-lg-12">Código Cap Gasto: <label id="lbl_cap_gasto_modal" style="color:black;"></label></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">Capítulo Gasto: <label id="lbl_gasto_modal" style="color:black;"></label></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">Número: <label id="lbl_numero_modal" style="color:black;"></label></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">Descripción: <label id="lbl_descripcion_modal" style="color:black;"></label></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">Monto por ejercer: <label id="lbl_monto_ejercer_modal" style="color:black;"></label></div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="JSONupdate" />




<div class="row id_container"></div>
<input type="hidden" id="objeto_contrato_temp" />
<input type="hidden" id="objeto_datos_generales" />
<input type="hidden" id="catalogo_gral_" />
<input type="hidden" id="adicionales_" />
<input type="hidden" id="responsables_hd" />
<input type="hidden" id="firmantes_hd" />
<input type="hidden" id="proveedores__" />
<input type="hidden" id="areaSeleccionada" />
<input type="hidden" id="codSeleccionado" />


<input type="hidden" id="a1" />
<input type="hidden" id="a2" />
<input type="hidden" id="a3" />
<input type="hidden" id="a4" />
<input type="hidden" id="a5" />
<input type="hidden" id="a6" />
<input type="hidden" id="a7" />
