
@{

    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div style="display:inline-block;width:100%;overflow-y:auto;    text-align: center;">
            <ul class="timeline timeline-horizontal" style="padding-bottom: 0px;margin-bottom: 0px;">
                <li class="timeline-item">
                    <div class="timeline-badge primary tcre_1" onclick="click_bag(1)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod" onclick="click_bag(1)" >
                        <div class="timeline-heading">

                            <p><small class="text-muted">Datos Generales</small></p>
                        </div>

                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge secondary tcre_2" onclick="click_bag(2)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod"  onclick="click_bag(2)">
                        <div class="timeline-heading">

                            <p><small class="text-muted">Fechas</small></p>
                        </div>

                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge secondary tcre_3" onclick="click_bag(3)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod" onclick="click_bag(3)">
                        <div class="timeline-heading">

                            <p><small class="text-muted">Areas</small></p>
                        </div>

                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge secondary tcre_4" onclick="click_bag(4)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod" onclick="click_bag(4)">
                        <div class="timeline-heading">

                            <p><small class="text-muted">Responsables</small></p>
                        </div>

                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge secondary tcre_5" onclick="click_bag(5)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod" onclick="click_bag(5)">
                        <div class="timeline-heading">

                            <p><small class="text-muted">Interlocutor <br /> comercial</small></p>
                        </div>

                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge secondary tcre_6" onclick="click_bag(6)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod" onclick="click_bag(6)">
                        <div class="timeline-heading">

                            <p><small class="text-muted">   Penalizaciones</small></p>
                        </div>

                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge secondary tcre_7" onclick="click_bag(7)"><i style="margin-top: 18%;" class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel timeline-panel-mod" onclick="click_bag(7)">
                        <div class="timeline-heading">

                            <p><small class="text-muted">Formalización</small></p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<input type="hidden" id="presinput" />
