@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@model Guid
@{
    Layout = "~/Views/MasterPages/Master.cshtml";
    //Guid idContrato = new Guid(httpContextAccessor.HttpContext.Session.GetString("IdContrato"));
    //if (idContrato != null)
    //{
    //    Layout = "~/Views/MasterPages/Master.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/MasterPages/Master_SinContrato.cshtml";
    //}
}
@section ViewStyles{
    <link href="~/Resources/Obligaciones/Obligaciones.css" rel="stylesheet" />
}

@section ViewScripts{
    <script src="~/Resources/DesgloseContrato/Jquery.DesgloseContrato.js"></script>
    <script src="~/Resources/Obligaciones/Jquery.Obligaciones.js"></script>
    <script src="~/Resources/VistaContrato/Jquery.VistaContrato.js"></script>
    <script src="~/Resources/MatrizRiesgos/Jquery.MatrizRiesgos.js"></script>
    <script src="~/Resources/Obligaciones/Jquery.ModificarObligacion.js"></script>
}
@{

    Dictionary<String, String> ruta = new Dictionary<String, String>();
    ruta.Add(@"\Home\Index", "Inicio");
    ruta.Add(@"\Contrato\Index", "Lista de contratos");
    ruta.Add(@"-", "Desglose de contrato");

}


<style>
    #Cont {
        height: 400px;
        width: 100%;
        overflow-y: auto;
    }
</style>
<input type="hidden" id="idObligacionVPMtzR" value="" />
<input type="hidden" id="IdContrato" value="@Model" />

@await Html.PartialAsync("~/Views/MasterPages/Breadcrumb.cshtml", ruta)

<br />
<section class="content">
    @await Html.PartialAsync("~/Views/Obligacion/Index.cshtml", Model)
</section>



@await Html.PartialAsync("~/Views/MatrizRiesgos/VistaPMtzRiesgosListado.cshtml", new Guid("781CF3BD-827F-4B2E-ABD4-87844C97B1E4"))
@await Html.PartialAsync("~/Views/MatrizRiesgos/AddNuevoRiesgo.cshtml")





