<input type="hidden" id="json_hd" />

<div class="tab-pane" id="2a">

    <div class="row">
        <div class="col-lg-4">
            <label>Requerimiento para la convocatoria:</label>
            <input type="text" class="form-control clear" id="input_Obligacion" placeholder="Requerimiento" />
        </div>
        <div class="col-lg-4">
            <label>Tipo de Requerimiento:</label>
            <select class="form-control clear" id="cmb_obligacion"></select>
        </div>
        <div class="col-lg-4">
            <br />


            <button class="btn btn-success btn_Add_Oblig"> Agregar </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table id="tbl_obligaciones" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Folio convocatoria</th>
                        <th>Requerimiento</th>
                        <th>Tipo de Requerimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<input type="hidden" id="conv_obligacion" value=""/>
<div id="Modal_Tipo_Obligacion_Upd" class="modal" role="dialog">
    <div class="modal-dialog" style="width: 60%; padding-top: 5%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actualizar obligación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Requerimiento para la convocatoria:</label>
                        <input type="text" class="form-control clear" id="input_Obligacion_upd"/>
                    </div>
                    <div class="col-lg-6">
                        <label>Tipo de Requerimiento:</label>
                        <select class="form-control clear" id="cmb_obligacion_upd"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-primary" id="btn_upd_tipo_obl">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


