
@{
    Layout = "~/Views/MasterPages/Master.cshtml";
}
@section ViewScripts{
    <script src="~/Resources/Catalogos/Procedimiento/Jquery.Procedimiento.js"></script>
    <script src="~/Resources/Catalogos/Procedimiento/Jquery.Procedimiento_Modificar.js"></script>
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Procedimiento</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" id="Add_Procedimiento" data-toggle="tooltip"
                    title="Agregar nuevo tipo de contrato">
                Agregar nuevo Procedimiento
                <i class="fa fa-fw fa-plus-circle"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="tbl_procedimiento" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Procedimiento</th>
                    <th>Sigla</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="Modal_Procedimiento" class="modal" role="dialog">
    <div class="modal-dialog" style="width: 60%; padding-top: 5%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo Procedimiento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Procedimiento</label>
                        <textarea class="form-control clear_txt" id="txt_procedimiento_add" style="resize:none" rows="2" placeholder="Procedimiento" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Sigla</label>
                        <textarea class="form-control clear_txt" id="txt_sigla_add" style="resize:none" rows="2" placeholder="Sigla" maxlength="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-primary" id="btn_guardar_procedimiento">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id_procedimiento" value="" />
<div id="Modal_Procedimiento_Upd" class="modal" role="dialog">
    <div class="modal-dialog" style="width: 60%; padding-top: 5%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actualizar Procedimiento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Procedimiento</label>
                        <textarea class="form-control clear_txt_upd" id="txt_procedimiento_upd" style="resize:none" rows="2" placeholder="Procedimiento" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Sigla</label>
                        <textarea class="form-control clear_txt_upd" id="txt_sigla_upd" style="resize:none" rows="2" placeholder="Sigla" maxlength="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-primary" id="btn_upd_unidad_m">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

