
@{
    Layout = "~/Views/MasterPages/Master.cshtml";
}
@section ViewScripts{
    <script src="~/Resources/Catalogos/Tipo_Interlocutor/Jquery.Tipo_Interlocutor.js"></script>
    <script src="~/Resources/Catalogos/Tipo_Interlocutor/Jquery.Tipo_Interlocutor_Modificar.js"></script>
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Tipo de interlocutor</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" id="Add_TipoInterlocutor" data-toggle="tooltip"
                    title="Agregar nuevo tipo de interlocutor">
                Agregar un nuevo tipo de interlocutor
                <i class="fa fa-fw fa-plus-circle"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="tbl_tipo_interlocutor" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Tipo de interlocutor</th>
                    <th>Comercial</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="Modal_Tipo_interlocutor" class="modal" role="dialog">
    <div class="modal-dialog" style="width: 60%; padding-top: 5%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo tipo de interlocutor</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label>Tipo de interlocutor</label>
                        <input type="text" class="form-control clear_txt" id="txt_tipo_interlocutor_add" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Es comercial</label><br />
                        <input type="checkbox" id="check_es_comercial_add" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-primary" id="btn_guardar_tipo_int">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id_tipo_int" value="" />
<div id="Modal_Tipo_interlocutor_Upd" class="modal" role="dialog">
    <div class="modal-dialog" style="width: 60%; padding-top: 5%; background-color: transparent;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actualizar tipo de Interlocutor</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label>Tipo de interlocutor</label>
                        <input type="text" class="form-control clear_txt_upd" id="txt_tipo_interlocutor_upd" />
                    </div>
                     <div class="col-lg-6 col-md-6">
                        <label>Es comercial</label><br />
                        <input type="checkbox" id="check_es_comercial_upd" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-primary" id="btn_upd_tipo_int">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

