@*@model Guid*@


@section ViewScripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Resources/Licitante/Jquery.Licitante_AperturaTecnica.js"></script>
}
@section ViewStyles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<input type="hidden" id="idconvocatoria2" value="@*@Model*@" />


<div class="row">
    <div class="col-lg-2">
        <label>Ingresa RFC del licitante</label>
    </div>

    <div class="col-lg-3">

        <input maxlength="13" type="text" class="form-control txt_RFCs2" />
    </div>
    <div class="col-lg-1">
        <button class="btn btn-success btn-save-licitante2">Agregar</button>
    </div>
</div>


<div class="row air" style="margin-top: 4%;">
    <div class="col-lg-12">

        <table id="tbl_Licitacion_Apertura" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Razon soc.</th>
                    <th>Representante</th>
                    <th>Estatus</th>
                    <th>RFC</th>
                    <th>Acciones</th>
                    <th>Propuesta</th>


                </tr>
            </thead>
        </table>

    </div>
</div>




<div id="altalicitante2" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alta licitante</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Nombre R.L.</label>
                        <input class="form-control NombreRL" type="text" />
                    </div>
                    <div class="col-lg-4">
                        <label>Apellido paterno R.L.</label>
                        <input class="form-control PaternoRL" type="text" />
                    </div>
                    <div class="col-lg-4">
                        <label>Apellido materno R.L:</label>
                        <input class="form-control MaternoRL" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Razón social</label>
                        <input class="form-control RazonSocialRL" type="text" />
                    </div>
                    <div class="col-lg-4">
                        <label>RFC</label>
                        <input class="form-control RFCRL" type="text" />
                    </div>
                    <div class="col-lg-4"></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success newLic2">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>

    </div>
</div>

<div id="ModalCargaPropuesta" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adjuntar propuesta</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <input type="hidden" id="idLicitanteModal" />


                    <div class="col-lg-12 text-center">
                        <label>Adjuntar propuesta:</label>
                        <input type="file" class="form-control" id="FilePropuesta" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <br />
                        <button class="btn btn-success btn-save-propuesta">Guardar</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
