
@{
    ViewBag.Title = "Lista evaluaciones";
    ViewBag.Description = "Lista evaluaciones";
    Layout = "~/Views/MasterPages/Master.cshtml";
}


<section class="content-header">
    <h1>
        @ViewBag.Description
    </h1>
</section>

<br />